<footer id="page-footer">
  <p>
    Copyright &copy; 2014 Michael Nickey
    <%= link_to 'Contact me', 'mailto:mnickey@gmail.com?subject=Regarding the Flix page' %>
  </p>
  <p>
    With assistance from the good folks at 
    <%= link_to 'Pragmatic Studios', 'http://www.pragmaticstudios.com' %>
  </p>
</footer>